# Exclude docs folder
docs/
/docs/
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/bg.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/bg.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/bg.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/cs.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/cs.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/cs.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/de.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/de.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/de.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/de.wav
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/description.txt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/en.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/en.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/en.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/en.wav
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/es.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/es.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/es.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/fr.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/fr.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/fr.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/hr.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/hr.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/hr.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/it.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/it.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/it.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/pl.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/pl.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/pl.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/pt.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/pt.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/pt-pt.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/pt-pt.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/ru.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/ru.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/ru.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/thumbnail.jpeg
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/tr.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/tr.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/tr.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/testfragen/uk.docx
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/audio/uk.mp3
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/subtitle/uk.vtt
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/vid.mp4
/wp-content/themes/ycona/wt-blocks/video-block/video-parts/
